@font-face {
    font-family: "Px437 Phoenix BIOS-2y (12pt)";
    src: url(./font.ttf) format("truetype");
}
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
    background-color: black;
}
body {
    font-family: "Px437 Phoenix BIOS-2y (12pt)";
    display: table-cell;
    vertical-align: middle;
    color: darkorange;
    padding: 32px;
    line-height: 125%;
}
a {
    text-decoration: none;
}
a:link {
    color: orange;
}
a:visited {
    color: #805300;
}
